$colorsList: (
	primary: #22a36b,
	secondary: #11222e,
	white: #ffffff,
	gray: #6c757d,
	dark-grey: #6d6d6d,
	success: #28a745,
	info: #17a2b8,
	warning: #ffc107,
	danger: #dc3545,
	light: #f8f9fa,
	dark: #343a40,
);

@function color($color) {
	@return map-get($colorsList, $color)
};

@mixin generate-color-class() {
	@each $color, $hex in $colorsList {
		.text-#{$color} {
			color: color($color) !important;
		}
	}
}

@include generate-color-class();

@import 'header.scss';
@import 'avatar.scss';
@import 'navbar.scss';
@import 'button.scss';
@import 'card.scss';
@import 'tabs.scss';
@import 'form.scss';

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: color(white);
	color: color(dark-grey);
	// font-family: Arial, sans-serif;

	#root-container {
		display: flex;
		height: 100%;
		overflow: hidden;

		.content-container {
			display: flex;
			flex-direction: column;
			width: 100%;

			.body-container {
				background-color: color('white');
				padding: 1.5rem;
				padding-top: 0;
				z-index: 1000;

				.body {
					.bread-crumb {
						font-size: x-large;
					}

					.body-content {
						height: 84vh;
						overflow: auto;
					}
				}
			}		
		}
	}
}

.pointer {
	cursor: pointer;
}

ul {
	position: relative;
	margin-block-start: unset;
	margin-block-end: unset;
	padding-inline-start: unset;

	li {
		list-style-type: none;
	}
}

a:hover {
	text-decoration: none;
}

.form-control {
	background-color: rgba(42, 81, 110, 0.1);
	border-color: rgba(42, 81, 110, 0.1);
}

.form-control:focus, .btn-primary:focus {
	box-shadow: unset !important;
	border-color: #ced4da !important;
}

.nowrap {
	white-space: nowrap;
}

.bold {
	font-weight: 600;
}

.flex-1 {
	flex: 1;
}

.row {
	margin-right: 0px !important;
	margin-left: 0px !important;
	// margin-top: 1rem;
	margin-bottom: 1rem;

	> div {
		padding: 0;
	}
}


p {
	white-space: pre-wrap;
}

/* ::-webkit-scrollbar {
	display: none;
} */

:focus {
	outline: unset !important;
}

.temp-button {
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 20000;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	font-size: 30px;
	// line-height: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: unset;

	span {
		height: 100%;
		width: 100%;
	}
}

.toast-body {
	background-color: color(white) !important;
}
