body {
	font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 1rem;
	background-color: #f9f9f9;
	color: #6b6b6b;
	height: 100vh;
	overflow: hidden;

	#root-container {
		position: relative;
		display: flex;
		height: 100%;

		.body-container {
			background-color: rgba(250, 250, 250, 0.3);
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}

		.header {
			padding: 0.5rem 1rem;

			.avatar {
				width: 2.5rem;
				height: 2.5rem;
				border-radius: 50%;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
			}

			.icon-groups {
				.badge-counter {
					transform: scale(0.7);
					right: -17px;
					top: -5px;
				}
			}
		}
		
		.navbar-left * {
			transition: all 0.1s ease-in-out;
		}

		.navbar-left ul .navbar-group-heading {
			padding: 0 1rem;
			font-weight: 800;
			font-size: .65rem;
			text-transform: uppercase;
			color: rgba(255, 255, 255, 0.5);
		}

		.navbar-left ul {
			margin-block-start: unset;
			margin-block-end: unset;
			padding-inline-start: unset;
			height: 100%;

			li {
				display: block;

				.company {
					font-size: 1.25rem;
					font-weight: bold;
					color: rgb(255, 255, 255);
					padding: 1rem;
				}

				a {
					display: block;
					padding: 1rem;
					text-transform: capitalize;
					color: rgb(255, 255, 255) !important;
					font-size: 0.9rem;

					i {
						margin-right: 0.5rem;
					}

					i.chevron {
						color: rgba(255, 255, 255, 0.3);
						margin-right: 0;
						margin-left: 0.5rem;
					}
				}

				a.active {
					color: rgb(255, 255, 255);
					font-weight: bold;

				}
				
				a.active.open {
					i.chevron {
						transform: rotate(90deg);
					}
				}

				a:hover {
					text-decoration: unset;
				}

				a:not(.active) {
					color: rgba(255, 255, 255, 0.5);
				}

				ul {
					padding: 0 1rem;
					display: none;
				}
			}
		}

		.navbar-divider-horizontal {
			border-top: 1px solid rgba(255,255,255,.15);
			margin: 0 1rem 1rem;
			box-sizing: content-box;
			height: 0;
			overflow: visible;
		}

		.navbar-divider-vertical {
			width: 0;
			border-right: 1px solid #e3e6f0;
			height: 80%;
		}
	}
}

/* override simplebar style */
.simplebar-scrollbar::before {
	background-color: rgba(255, 255, 255, 0.5) !important;
	top: 3px !important;
	right: 3px !important;
	bottom: 3px !important;
	left: 3px !important;
}

/* override bootstrap style */
.form-control:focus, .btn-primary:focus {
	box-shadow: unset !important;
}