.avatar-container {
	position: relative;
	display: flex;
	align-items: center;
	border-radius: 0.25rem;
	padding: 0.25rem;

	.avatar-user-name {
		margin-right: 1rem;
	}
}

.avatar {
	display: flex;
	width: 2.5rem;
	height: 2.5rem;
	min-width: 2.5rem;
	min-height: 2.5rem;
	border-radius: 50%;
	background-color: var(--primary);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	span {
		pointer-events: none;
		color: var(--white);
		font-weight: 600;
	}

	.dropdown-menu {
		// top: 100%;
		right: 0;
		left: unset !important; /* override bootstrap */
		border-radius: .35rem;
		// min-width: 325px;
		width: min-content;
		overflow: hidden;

		a { display: block; }

		.dropdown-item {
			font-weight: 500;
			padding: .75rem 1.35rem;

			&.small {
				span {
					font-size: .8rem;
					font-weight: normal !important;
				}
			}

			&.nohover {
				&:hover {
					background-color: unset;
				}
			}
		}

		.dropdown-item:active {
			background-color: unset;
			color: unset;
		}
	}
}

.teamcontainer {
	width: 75px;
	text-align: center;
	font-size: 0.8rem;

	.indicator {
		width: 18px;
		height: 18px;
		bottom: -3px;
		right: -3px;
		border: 2px solid var(--light);
		border-radius: 50%;

		&.prs {
			background-color: var(--success);
		}

		&:not(.prs) {
			background-color: var(--danger);
		}
	}
}