#root-container {
	display: flex;
	height: 100%;
	overflow: hidden;
	
	.content-container {
		display: flex;
		flex-direction: column;
		position: relative;
		height: 100%;
		z-index: 100;
		flex: 1;

		.body {
			position: relative;
			display: flex;
			height: 100%;
			background-color: var(--white);
			z-index: 105;
			width: calc(100vw - 14.5rem);
			transition: max-width .25s ease-in;
		}
	}

	.navbar-left.closed + .content-container{
		.body {
			width: calc(100vw - 6rem);
			max-width: calc(100vw - 6rem);
		}
	}
}

@media (max-width: 480px) {
	#root-container {
		.content-container {
			.body {
				width: 100vw;
				max-width: 100vw;
			}
		}
	}
}