.content-container {
	position: relative;
	z-index: 100;

	.body {
		background-color: var(--white);
		padding-left: 1rem;
		
		z-index: 105;
		height: 100%;
	}
}

.page {
	height: 100%;
	.body-content {
		position: relative;
		min-height: 100%;
		color: var(--dark-grey);
	}

	.simplebar-page {
		min-height: calc(100vh - 139px);
		max-height: calc(100vh - 139px);
		min-width: 100%;

		padding-right: 1rem;

		.simplebar-track.simplebar-vertical {
			right: .15rem;
		}
	}
}