.calendar-container {
	position: relative;
	--calendar-font-size: 0.75rem;

	width: min-content;
	border-radius: .25rem;
	overflow: hidden;
	border: 1px solid #dddddd;

	* {
		font-size: var(--calendar-font-size) !important;
	}
	
	.calendar-header {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--primary) !important;
		color: white !important;

		.form-control, button {
			color: white !important;
			font-size: var(--calendar-font-size) !important;
			border-color: transparent !important;
		}
	}

	.calendar-body {
		display: flex;
		flex-direction: column;
		// height: 100%;
		
		.calendar-day-row, .calendar-date-row {
			display: flex;
			flex-direction: row;
			
			div {
				display: flex;
				flex: 1;
				padding: .5rem;
				justify-content: center;

				span {
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: transparent;
					border-radius: 50%;

					transition: 0.25s background-color linear;
				}

				&[data-active] {
					span {
						background-color: var(--primary);
						color: var(--white);
					}
				}

				&[data-holiday] {
					background-color: rgb(255, 210, 210);
					font-weight: 700 !important;
					color: var(--danger) !important;

					&[data-active] {
						span {
							background-color: var(--danger);
						}
					}
				}

				&[data-not-currentmonth] {
					background-color: rgb(243, 243, 243);
					font-weight: 500;
					color: rgb(130, 130, 130);
				}
			}
		}

		.calendar-date-row {
			div {
				height: 5rem;
				cursor: pointer;
				background-color: white;

				span {
					width: 1.5rem;
					height: 1.5rem;
				}
			}
		}

		.calendar-day-row {
			background-color: var(--primary);
			color: var(--white);
			div { 
				height: auto; 
			}
		}
	}

	.calendar-caret {
		display: flex;
		width: 1rem;
		height: 1rem;
		border-radius: 50%;
		
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	.calendar-select-month {
		display: flex;
		justify-content: center;
		align-items: center;

		select {
			-webkit-appearance: none;
			-moz-appearance: none;
			text-indent: 1px;
			text-overflow: '';

			width: min-content;
			text-align: center;
			background-color: unset;
			border: unset;

			text-align: center;
			text-align-last:center;

			option {
				color: black;
				text-align: center;
			}
		}
	}

	.calendar-select-year {
		display: flex;
		justify-content: center;
		align-items: center;

		/* &.form-control {
			width: 3.45rem;
			background-color: var(--primary);
			border: unset;
			color: var(--primary);

			&[readonly] {
				cursor: pointer;
			}
		} */

		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 1px;
		text-overflow: '';

		width: min-content;
		text-align: center;
		background-color: unset;
		border: unset;

		text-align: center;
		text-align-last:center;

		option {
			color: black;
			text-align: center;
		}
	}
}