.card {
	background-color: var(--secondary-white);
	color: var(--black);
	border: 0;
	height: 100%;

	margin: .5rem;

	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .175)!important;

	.card-body {
		justify-content: center;
		.card-header {
			font-size: 1.15rem;
		}

		.card-header, .card-content, .card-footer {
			background-color: unset;
			margin-bottom: .5rem;
			border: 0;
		}
	}
}