.form {
	padding: .5rem;
	flex: 1;

	.form-button-group {
		margin-bottom: 0;
		
		.left-group, .right-group {
			display: flex;
		}

		.right-group {
			
			justify-content: flex-end;
		}

		.left-group {
			.btn:not(:first-child) {
				margin-left: .5rem;
			}
		}

		.right-group {
			.btn:not(:last-child) {
				margin-right: .5rem;
			}
		}
	}
	
	.row {
		.form-group {
			position: relative;
			margin-right: 1rem;

			.form-control-plaintext {
				cursor: default;
				pointer-events: none;
				border-radius: .25rem;
			}

			.form-icon {
				position: absolute;
				right: 10px;
				top: calc(50% + 5px);
				cursor: pointer;
				i {
					color: var(--grey);
				}
			}
		}

		.form-check, .custom-switch {
			label[for], input[type=radio], input[type=checkbox] {
				cursor: pointer;
			}
		}

		.custom-control-input:checked~.custom-control-label::before {
			border-color: var(--primary);
			background-color: var(--primary);
		}

		.input-portal {
			position: absolute;
			z-index: 106;
			margin-top: 2.5rem;
		}
	}
}

.form-button-group {
	display: flex;
	padding: 1rem 0;
	width: 100%;

	position: sticky;
	bottom: 0;
	background-color: var(--white);

	.col {
		padding: 0;
	}
}

.modal-content {
	.form-button-group {
		margin-bottom: 0;
		padding-bottom: 0;
	}
}