.form-group {
	margin-right: 1rem;

	.form-control-plaintext {
		cursor: default;
		pointer-events: none;
	}

	.form-icon {
		position: absolute;
		right: 10px;
		top: calc(50% + 5px);
	}
}

.form-check {
	label[for], input[type=radio], input[type=checkbox] {
		cursor: pointer;
	}
}

.input-portal {
	position: absolute;
	z-index: 106;
	// right: 0;
	margin-top: 2.5rem;
	// top: 0;
	// margin-top: 2.5rem;
}