.header-container {
	position: relative;
	display: flex;
	align-items: center;
	height: 4.5rem;
	padding: 0.5rem 1rem;
	background-color: var(--white);
	z-index: 115;

	.header-left, .header-right {
		position: relative;
		display: flex;
		height: 100%;
		align-items: center;
	}

	.header-left {
		justify-content: center;
		flex: .5 1 auto;


		.dropdown-menu {
			width: 100%;
			background-color: var(--white);
			// overflow: auto;

			.simplebar-search {
				max-height: 15rem;

				.dropdown-item {
					color: var(--black);
					i {
						margin-right: .5rem;
					}

					&.active {
						background-color: var(--light-grey);
						color: unset;
					}

					&:hover {
						color: unset;
						text-decoration: none;
						background-color: unset;
					}

					&.focus {
						color: #16181b;
						text-decoration: none;
						background-color: var(--light-grey);
					}
				}
			}
		}
		.header-search-container {
			background-color: var(--white);
		}
	}

	.header-right {
		justify-content: flex-end;
		flex: 1 1 auto;
	}

	.icon-groups {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 2.5rem;
		height: 2.5rem;
		padding: 0.25rem;
		border-radius: 50%;
		z-index: 100;

		
	}
}

@media (max-width: 480px) {
	.header-container {
		.header-left {
			flex: 1;
		}

		.header-right {
			display: none;
		}
	}
}