.header-container {
	position: relative;
	display: flex;
	align-items: center;
	height: 4.5rem;
	padding: 0.5rem 1rem;
	background-color: var(--white);
	z-index: 115;

	.header-left, .header-right {
		position: relative;
		display: flex;
		height: 100%;
		align-items: center;
	}

	.header-left {
		justify-content: flex-start;
		flex: .5 1 auto;

		.input-group {
			position: relative;
			width: 60%;
			transition: width .25s ease-in;
			
			.form-control {
				border-radius: .25rem;
			}

			.form-icon {
				position: absolute;
				right: 16px;
				top: calc(50% - 13px);
				cursor: pointer;
			}

			&.focussearch {
				width: 90%;
			}
		}

		.dropdown-menu {
			width: 100%;
			background-color: var(--white);
			// overflow: auto;

			.simplebar-search {
				max-height: 15rem;

				.dropdown-item {
					color: var(--black);
					i {
						margin-right: .5rem;
					}

					&.active {
						// background-color: var(--light-grey);
						background-color: unset;
						color: unset;
						color: var(--black);
					}

					&:hover {
						color: unset;
						text-decoration: none;
						background-color: unset;
					}

					&.focus {
						color: var(--black);
						text-decoration: none;
						background-color: var(--light-grey);
					}
				}
			}
		}

		.header-search-container {
			background-color: var(--white);
		}
	}

	.header-right {
		justify-content: flex-end;
		flex: 1 1 auto;
	}

	.icon-groups {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 2.5rem;
		height: 2.5rem;
		padding: 0.25rem;
		border-radius: 50%;
		z-index: 100;

		
	}
}

.toggle-theme-container {
	width: 60px;
	height: 27.9px;

	input.toggle-theme {
		opacity: 0;
		position: absolute;

		&:checked + label.toggle-theme .ball {
			transform: translateX(28px);
		}
	}

	label.toggle-theme {
		position: relative;
		height: 100%;
		display: flex;
		align-items: center;
		margin: 0;
		padding: .35rem;
		cursor: pointer;
		background-color: var(--dark-grey);
		border-radius: 5rem;
	}

	.fas {
		font-size: .9rem;
		flex: 1;
	}

	.fa-moon {
		color: #f1c40f;
		text-align: left;
		padding-left: .1rem;
	}

	.fa-sun {
		color: #f39c12;
		text-align: right;
		padding-right: .1rem;
	}

	.ball {
		position: absolute;
		align-items: center;
		border-radius: 50%;
		background-color: var(--white);
		height: 21px;
		width: 21px;

		transition: transform .25s ease-in;
	}
}

@media (max-width: 480px) {
	.header-container {
		.header-left {
			flex: 1;
		}

		.header-right {
			display: none;
		}
	}
}