.login-container {
	display: flex;
	flex: 1;

	.left-container, .right-container {
		padding: 1.5rem;
	}

	.left-container {
		flex: 2;
		background-color: var(--primary);
		display: flex;
		justify-content: center;
		align-items: center;

		svg {
			width: 50%;
		}
	}

	.right-container {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media (min-width: 320px) and (max-width: 480px) {
	.login-container {
		flex-direction: column;
		
		.left-container {
			display: none;
		}
	}
}