$primary: #519a66;
html { height: 100%; }

body[themes=light] {
	--danger: rgb(186, 74, 74);
	--success: rgb(81, 186, 81);
	--warning: rgb(237, 186, 57);
	--neutral: rgb(57, 189, 237);
	
	--primary: #{$primary};
	--light-primary: #f3fdf6;
	--secondary: #71c087;
	--white: #ffffff;
	
	--light-grey: #dee2e6;
	--dark-grey: #545454;
	--grey: rgba(0, 0, 0, 0.35);
	--black: rgba(0, 0, 0, 0.75);
}

body[themes=dark] {
	--danger: rgb(186, 74, 74);
	--success: rgb(81, 186, 81);
	--warning: rgb(237, 186, 57);
	--neutral: rgb(57, 189, 237);
	
	--primary: #{$primary};
	--light-primary: #868a87;
	--secondary: #71c087;
	--white: #3f3f3f;
	
	--light-grey: #929292;
	--dark-grey: #545454;
	--grey: rgba(220, 220, 220, 0.35);
	--black: rgba(255, 255, 255, 0.75);
}

body {
	height: 100%;
	background-color: var(--white);
	color: var(--dark-grey);

	h2, label { color: var(--black); }

	#root-container {
		display: flex;
		height: 100%;
		overflow: hidden;

		.content-container {
			display: flex;
			flex-direction: column;
			width: 100%;		
		}
	}

	* {
		transition: background-color .2s ease-in, color .2s ease-in;
	}
}

ul {
	position: relative;
	margin-block-start: unset;
	margin-block-end: unset;
	padding-inline-start: unset;

	li {
		list-style-type: none;
	}
}

.form-control {
	background-color: rgb(233, 237, 240);
	border-color: rgb(233, 237, 240);
}

.form-control:focus, .btn-primary:focus {
	box-shadow: unset !important;
	border-color: #ced4da !important;
}

.nowrap { white-space: nowrap; }
.bold { font-weight: 600; }
.flex-1 { flex: 1; }
.pointer { cursor: pointer; }

.row {
	margin-right: 0px !important;
	margin-left: 0px !important;
	margin-bottom: 1rem;

	> div {
		padding: 0;
	}
}

p { white-space: pre-wrap; }
:focus { outline: unset !important; }

/* text color */
.text-primary { color: var(--primary) !important; }
.text-grey { color: var(--grey) !important; }
.text-black { color: var(--black) !important; }

a:hover { text-decoration: none; }

/* badge */
.badge-primary { background-color: var(--primary); }

@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

@import 'header.scss';
@import 'notification.scss';
@import 'body.scss';
@import 'breadcrumb.scss';
@import 'avatar.scss';
@import 'navbar.scss';
@import 'button.scss';
@import 'card.scss';
@import 'tabs.scss';
@import 'form.scss';
@import 'table.scss';
@import 'calendar.scss';
@import 'overlay.scss';
@import 'alert.scss';
@import 'loading.scss';
@import 'suspense.scss';
@import 'login.scss';
@import 'modal.scss';
// @import 'input.scss';