.modal-content {
    position: relative;
    width: 75%;
    height: 80vh;
    z-index: 205;
    border: unset;
    overflow: hidden;
    border-radius: .5rem;
    background-color: var(--white);

    transition: transform 0.25s ease-in-out;
    transform: scale(1);

    &.hidden { transform: scale(0); }

    .modal-header {
        background-color: var(--primary);
        border-bottom: var(---white);
        align-items: baseline;
        color: white;

        .modal-left, .modal-right {
            display: flex;
            align-items: baseline;
            flex: 1;
            flex-wrap: wrap;
        }

        .modal-right {
            justify-content: flex-end;
            flex: unset;
        }

        .bread-crumb { padding: 0 !important; }
    }

    .modal-body {
        padding: 1rem 0;
        display: flex;
        height: calc(80vh - 64px);
        
        .page {
            .body-content {
                height: calc(80vh - 100px);

                .tab-content {
                    height: calc(100% - 2.75rem);

                    .tab-page-container {
                        height: 100%;

                        .page {
                            height: 100%;
                            .body-content {
                                height: 100%;
                            }

                            .bread-crumb + .body-content {
                                height: calc(100% - 52px);
                            }
                        }
                    }
                }
            }
        }
    }

    .modal-body, .modal-footer { background-color: var(--white); }
}


@media (max-width: 480px) {
    .modal-content {
        position: absolute;
        width: 100%;
        height: 95%;
        bottom: 0;
        border-radius: 0rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        transition: bottom 0.25s ease-in-out;
        &.hidden {  bottom: -100%; transform: scale(1); }

        .modal-header {
            // background-color: var(--white);
            // color: var(--black);

            .modal-left { font-weight: bold; }
        }

        .modal-body {
            .page {
                .body-content {
                    height: 100%;

                    .tab-content {
                        height: calc(100% - 2.75rem);

                        .tab-page-container {
                            height: 100%;

                            .page {
                                height: 100%;
                                .body-content {
                                    height: 100%;
                                }

                                .bread-crumb + .body-content {
                                    height: calc(100% - 52px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}