.simplebar-table {
	// margin-bottom: 1rem;
	min-height: calc(100vh - 209px);
	max-height: calc(100vh - 209px);
	
	.simplebar-track.simplebar-vertical {
		top: 55px !important;
		right: 0;
	}

	.simplebar-content-wrapper {
		border-radius: 0.25rem;
    	background-color: var(--white);
	}
}

.tab-page-container {
	.simplebar-table {
		min-height: calc(100vh - 318px);
		max-height: calc(100vh - 318px);
	}
}

.table {
	position: relative;
	border-radius: .25rem;
	// margin-bottom: 1rem;

	display: flex;

	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;

	.simplebar-content {
		display: flex;
	}
	
	.column-group {
		position: relative;
		min-width: 200px;

		.table-separator {
			position: absolute;
			cursor: col-resize;
			top: 0;
			right: 0;
			// width: 5px;
			height: 100%;
			// background-color: transparent;
			border-right: 5px solid transparent;
			z-index: 105;

			&.active {
				// background-color: rgba(175, 175, 175, .75);
				border-right: 5px solid rgba(175, 175, 175, .75);
			}
		}
	}

	.row-header {
		position: relative;
		z-index: 100;
		background-color: var(--primary);
		color: #ffffff;
		border-color: var(--primary) !important;

		.form-control {
			background-color: white !important;
			border-color: #ced4da !important;
			border-right: 0;
		}

		.input-group-append {
			.btn {
				background-color: white !important;
				border-color: #ced4da !important;
				color: var(--primary);
				// border: unset;
				border-left: 0;
			}
		}
	}

	.column-group:first-child {
		min-width: unset;
		width: auto;
	}
	
	.row-header, .row-body {
		display: flex;
		align-items: center;
		padding: 0.75rem;
		// border: 1px solid var(--light-grey);
		border: 1px solid #dee2e6;
		height: 50px;

		span {
			white-space: nowrap;
			transition: unset !important;
		}
		
		a, .link {
			transition: unset !important;
			color: #007bff;
			text-decoration: none;
			background-color: transparent;
			cursor: pointer;
		}
	}

	.row-header {
		position: sticky;
		top: 0;
		z-index: 100;

		.left {
			flex: 1;
		}

		.right {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;

			i {
				position: relative;

				cursor: pointer;
				height: 8px;

				&::before {
					display: block;
					height: 8px;
				}

				&.fa-sort-down::before {
					position: relative;
					top: -100%;
				}
			}

			i:not(.active) {
				color: rgba(255, 255, 255, .5);
			}

			i:hover {
				color: rgba(255, 255, 255, 1);
			}
		}

		&.number {
			span {
				display: inline-block;
				width: 100%;
			}
		}
	}

	.row-body {
		span {
			display: inline-block;
			width: 100%;
		}
	}

	.row-body:nth-child(even) {
		background-color: rgb(240, 240, 240);
	}

	.row-body:nth-child(odd) {
		background-color: rgb(255, 255, 255);
	}

	.column-group:not(:first-child) {
		margin-left: -1px;
	}

	.row-body:not(:first-child) {
		margin-top: -1px;
	}

	.column-group:first-child .row-header:first-child {
		border-top-left-radius: .25rem;
	}

	.column-group:first-child .row-body:last-child {
		border-bottom-left-radius: .25rem;
	}

	.column-group:last-child .row-header:first-child {
		border-top-right-radius: .25rem;
	}

	.column-group:last-child .row-body:last-child {
		border-bottom-right-radius: .25rem;
	}
}

.table-search-data {
	position: sticky;
	bottom: 0;

	padding-bottom: 1rem;

	.badge {
		display: inline-flex;
		align-items: center;
		padding: .5rem;
		height: 2rem;
		margin-top: .35rem;

		i {
			margin-left: .5rem;

			&::before {
				vertical-align: -webkit-baseline-middle;
			} 
		}
	}

	.badge:not(:first-child) {
		margin-left: .25rem;
	}
}

@keyframes placeHolderShimmer{
	0% {
		background-position: -468px 0;
	}
	100% {
		background-position: 468px 0;
	}
}

.table + .input-portal {
	margin-top: 2.5rem;
}