.table {
	position: relative;
	border-radius: .25rem;
	margin-bottom: 1rem;

	display: flex;

	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
	
	.column-group {
		position: relative;
		min-width: 200px;

		.table-separator {
			position: absolute;
			cursor: col-resize;
			top: 0;
			right: 0;
			// width: 5px;
			height: 100%;
			// background-color: transparent;
			border-right: 5px solid transparent;
			z-index: 105;

			&.active {
				// background-color: rgba(175, 175, 175, .75);
				border-right: 5px solid rgba(175, 175, 175, .75);
			}
		}
	}

	.row-header {
		position: relative;
		z-index: 100;
		background-color: var(--primary);
		color: var(--white);
		border-color: var(--primary) !important;

		.form-control {
			background-color: white !important;
			border-color: #ced4da !important;
		}

		.input-group-append {
			.btn {
				background-color: white !important;
				border-color: #ced4da !important;
				color: var(--primary);
			}

			.dropdown:not(:last-child) {
				.btn {
					border-right: 0;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}
			}
			
			.dropdown:last-child {
				.btn {
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
			}
			
			.dropdown-toggle {
				&::after {
					content: unset;
				}
			}
		}
	}

	.column-group:first-child {
		min-width: unset;
		width: auto;
	}
	
	.row-header, .row-body {
		display: flex;
		align-items: center;
		padding: 0.75rem;
		border: 1px solid var(--light-grey);
		height: 50px;
	}

	.row-header {
		position: sticky;
		top: 0;
		z-index: 100;

		.left {
			flex: 1;
		}

		.right {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;

			i {
				position: relative;

				cursor: pointer;
				height: 8px;

				&::before {
					display: block;
					height: 8px;
				}

				&.fa-sort-down::before {
					position: relative;
					top: -100%;
				}
			}

			i:not(.active) {
				color: rgba(255, 255, 255, .5);
			}

			i:hover {
				color: rgba(255, 255, 255, 1);
			}
		}

		&.number {
			span {
				display: inline-block;
				width: 100%;
			}
		}
	}

	.row-body {
		span {
			display: inline-block;
			width: 100%;
		}
	}

	&.loading .row-body span {
		width: 100%;
		border-radius: .25rem;

		animation-duration: 3s;
		animation-fill-mode: forwards;
		animation-iteration-count: infinite;
		animation-name: placeHolderShimmer;
		animation-timing-function: linear;
		-webkit-animation-duration: 1s;
		-webkit-animation-fill-mode: forwards;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-name: placeHolderShimmer;
		-webkit-animation-timing-function: linear;
		background: #e6e6e6;
		background-image: linear-gradient(to right, #e6e6e6 0%, #d6d6d6 20%, #e6e6e6 40%, #e6e6e6 100%);
		background-repeat: no-repeat;
		background-size: 800px 104px;
		// height: 104px;
		color: transparent;
		position: relative;

		a {
			color: transparent
		}
	}

	.row-body:nth-child(even) {
		background-color: rgba(0, 0, 0, .05);
	}

	.column-group:not(:first-child) {
		margin-left: -1px;
	}

	.row-body:not(:first-child) {
		margin-top: -1px;
	}

	.column-group:first-child .row-header:first-child {
		border-top-left-radius: .25rem;
	}

	.column-group:first-child .row-body:last-child {
		border-bottom-left-radius: .25rem;
	}

	.column-group:last-child .row-header:first-child {
		border-top-right-radius: .25rem;
	}

	.column-group:last-child .row-body:last-child {
		border-bottom-right-radius: .25rem;
	}
}

.table-search-data {
	position: sticky;
	bottom: 0;

	padding-bottom: 1rem;

	.badge {
		display: inline-flex;
		align-items: center;
		padding: .5rem;
		height: 2rem;
		margin-top: .35rem;

		i {
			margin-left: .5rem;

			&::before {
				vertical-align: -webkit-baseline-middle;
			} 
		}
	}

	.badge:not(:first-child) {
		margin-left: .25rem;
	}
}

@keyframes placeHolderShimmer{
	0% {
		background-position: -468px 0;
	}
	100% {
		background-position: 468px 0;
	}
}